* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    /* background-image: url("https://images.alphacoders.com/699/699287.jpg"); */
}

.bodyImg {
    position: absolute;
    filter: brightness(0.7);
    width: 100vw;
    height: auto;
    object-fit: contain;
}

/* .bodyImg {} */

.card {
    position: relative;
    width: 350px;
    height: 230px;
    border-radius: 20px;
    /* background-color: white; */
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-color: transparent;
    color: white;
}

.card:hover {
    height: 450px;
}

.imgBx {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: transparent;
    top: -5vh;
}

.imgBx img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    box-shadow: 0px 0px 16px black;
    transition: 0.5s;
    position: fixed;
    z-index: 2;
}

.card:hover img {
    transform: scale(1.15);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 40px;
    transform: translateY(155px);
    transition: 0.5s;
}

.card:hover .content {
    transform: translateY(0px);
}

.details {
    text-align: center;
}

.details h2 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.2rem;
}

.details span {
    color: #ffffff;
    font-size: 0.85rem;
    font-weight: 800;
    opacity: 0.7;
}

.data {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.75rem;
    gap: 20px;
}

.activeBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.activeBtn button {
    width: 120px;
    text-align: center;
}

.activeBtnFirst {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    background: #0077b5;
    color: white;
    cursor: pointer;
}

.activeBtnSecond {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    background: #ffffff;
    color: rgb(93, 93, 93);
    cursor: pointer;
}

.goBack {
    text-decoration: none;
    color: #ffffff;
    filter: opacity(0.8);

}

@media screen and (max-width: 1100px) {
    .card {
        height: 450px;
    }

    .content {
        transform: translateY(0px);
    }

    .data {
        font-weight: bolder;
    }

    .activeBtnFirst {
        font-weight: bolder;
    }

    .activeBtnSecond {
        font-weight: bolder;
    }

    .goBack {
        font-weight: bolder;
    }
}